@import "../../variables";

@keyframes animate-entering {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

.weather-widget {
  width: 100%;
  color: $foreground-color;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 40px mix($foreground-color, white, 8%);
  overflow: hidden;
  animation-duration: 0.5s;
  animation-name: animate-entering;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;

  &-current {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 180px;
    padding: 24px 24px 0;

    img {
      width: 72px;
    }

    &-details {
      flex: 1 auto;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;

      span {
        font-size: 32px;
        font-weight: 800;
      }
    }
    &-temperature {
      flex: 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        font-size: 78px;
        font-weight: 400;
      }
    }
    &-date {
      font-size: 14px;
      font-weight: 200;
      color: $muted-color;
    }
  }

  &-bottom {
    padding: 0 24px 24px;
    box-sizing: border-box;
  }

  &-nav {
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 0 24px;
  }

  &-timesteps {
    background: #fff;
    box-shadow: 0 0 16px mix($foreground-color, white, 8%);
    height: 42px;
    display: inline-block;
    border-radius: 21px;
    font-size: 13px;
    font-weight: 500;

    span {
      padding: 0 24px;
      box-sizing: border-box;
      display: inline-block;
      height: 42px;
      line-height: 42px;
      cursor: pointer;

      &:first-of-type {
        border-right: mix($foreground-color, white, 6%) 1px solid;
      }

      &.active {
        color: $accent-color;
      }
    }
  }

  &-intervals {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    position: relative;

    &-item {
      width: unquote(100 / 6 + '%');
      min-width: unquote(100 / 6 + '%');
      height: 160px;
      padding: 24px 12px;
      box-sizing: border-box;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      border-radius: 16px;

      &:not(.active):not(:hover) {
        img {
          filter: saturate(0%);
        }
      }

      &.active {
        background: linear-gradient($accent-color, $primary-color);
        color: rgba(#fff, 0.8);
        box-shadow: 0 0 20px mix($foreground-color, white, 10%);
      }

      &:hover:not(.active) {
        background: rgba($foreground-color, 0.05);
      }

      &:hover,
      &:active {
        opacity: 1 !important;

        img {
          filter: saturate(100%) !important;
        }
      }

      img {
        transition-duration: 200ms;
        width: 36px;
      }
    }
  }
}
