@import "../../variables";

:host {

  .weather-widget {
    color: $foreground-color;
    background: #fff;
    box-shadow: 0 0 40px mix($foreground-color, white, 8%);
    border-radius: 32px;
    min-width: 320px;
    max-width: 320px;
    width: 100%;

    &-current {
      padding: 3rem 2rem;
      width: 100%;
      box-sizing: border-box;

      img {
        width: 72px;
        margin-right: 16px;
      }

      &-description {
        font-size: 32px;
        font-weight: 800;
      }
      &-temperature {
        font-size: 48px;
        font-weight: 100;
        display: flex;
      }
      &-date {
        font-size: 16px;
        font-weight: 200;
        color: $muted-color;
      }
    }

    &-intervals {
      display: flex;
      width: 100%;
      overflow-x: hidden;
      box-sizing: border-box;
      background: $primary-color;
      border-radius: 0 0 32px 32px;
      color: #fff;
      font-size: 12px;
      text-align: center;

      &-item {
        min-width: 25%;
        width: 25%;
        padding: 16px 12px;
        box-sizing: border-box;
        opacity: 1;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:not(.active):not(:hover) {
          opacity: .4;

          img {
            filter: grayscale(100%);
          }
        }

        &.active {
          background: $accent-color !important;
        }

        &:hover,
        &:active {
          opacity: 1 !important;
          background: $primary-color;

          img {
            filter: grayscale(0%) !important;
          }
        }

        img {
          transition-duration: 200ms;
          width: 36px;
        }
      }
    }
  }
}
